{% extends "authLayout.html" %}

{% block title %}
<title>Delete a Message</title>
{% endblock %}

{% block content %}


    <div class="container col-md-offset-3">
        <div class="col-md-8">

                <h3 class="margin-bottom-20">
                    {% if confirm %}
                        Are you sure you want to delete this message?
                    {% else %}
                        This message has been deleted.
                    {% endif %}
                </h3>

            <div class="panel panel-default">
                <div class="panel-body">
                    <p><strong>{{ message.from_user.as_child.django_user.username }}</strong><span class="float-right timestamp">{{ message.timestamp }}</span><p>
                    <p>{{ message.message|linebreaksbr }}</p>
                </div>
            </div>

            <form method="get">
                <p>
                    {% if confirm %}
                        <input type="submit" class="btn btn-success col-sm-3 margin-right-5" name="Confirm" value="Confirm"></input>
                        <input type="submit" class="btn btn-success col-sm-3" name="Cancel" value="Cancel"></input>
                    {% else %}
                        <a href="{% url 'message.views.inbox' %}" class="btn btn-success col-sm-4">Back to Inbox</a>
                    {% endif %}
                </p>
            </form>
        </div>
    </div>


{% endblock %}